
.title{
    color: black;
    font-size: 80px;
    color: white;
    margin-top: 10px;
}
.paragraph{
    font-size: 32px;
    text-align: center;
    width:400px;
    margin-top: 50px;
    margin-bottom:100px;
    border: 3px solid #c1de3f;
    background-color: #c1de3f
}
.paragraph{
    border-radius: 3px;
}
.whole-screen{

    border: 3px solid #EB5C70;
    height:100vh;
    background-color:#EB5C70
}
.button{
    border: 3px solid none;
    color: black;
    padding:15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 17px;
    cursor: pointer;
    background-color: white;
}
.button:hover{
    background-color:#95AE23;
}
.button{border-radius: 5px;}

.whole-screen{
    display:flex;
    background-color:#EB5C70 ;
    justify-content: center;
}

.gameover-center{
    display:flex;
    align-items: center;
    flex-direction: column;
}