.whole-screen {
  min-height: 100vh;
  background-color: #f08a98;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-over {
  font-family: "Bungee";
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  letter-spacing: 0.02em;
  color: #980000;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.msg {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 0.02em;
  color: #ffdfe3;
}

.btn {
  background-color: #774c98;
  width: 100px;
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 60px;
}

.btn:hover {
  cursor: pointer;
  background-color: #95ae23;
}
