.layoutContainer {
  display: flex;

  min-height: 100vh;
  justify-content: space-between;
  background-color: #f08a98;
}

.leftBar {
  font-size: 18px;
  width: 15%;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 10px;
  background-color: #f6b9c1;
}

.dollar {
  color: #95ae23;
  margin-right: 10px;
}
.size {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom {
  padding-top: 30px;
}

.down {
  padding: 50px;
}
.rightBar {
  color: whitesmoke;
  font-size: 20px;
  width: 20%;
  /* border: 1px solid black; */
  display: flex;

  padding-top: 50px;
}

.mainBar {
  width: 80%;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.dayRow {
  display: flex;
  justify-content: center;
  height: 100px;
}

.child {
  padding: 10px;
}

.timer {
  border: 2px solid black;
  height: 120px;
  width: 120px;
  border-radius: 120px;
  border: 8px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timerNum {
  font-size: 45px;
  color: red;
  font-weight: bold;
}

.timerAnimate {
  border: 2px solid black;
  height: 120px;
  width: 120px;
  border-radius: 120px;
  border: 8px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: animate 0.8s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0;
  }
}

.balance {
  font-size: 20px;
  color: white;
}

.amount {
  font-size: 50px;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
}

.strikeDiv {
  text-align: center;
}

.strikeContainer {
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.under {
  border: 1px solid white;
}
