.entire {
  display: flex;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
}

.leftSide {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rightSide {
  width: 50%;
  height: 100vh;
  background-color: #eb5c70;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.titleH {
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 82px;
  margin-left: 90px;
  margin-bottom: 5px;
}

.firstLetter {
  color: #d1dca0;
}

.buttonHome {
  text-align: center;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: #774c98;
  color: white;
  padding: 13px 40px;
  border-radius: 10px;
  font-size: "Open Sans";
  font-style: normal;
  font-weight: 550;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}

.buttonHome:hover {
  cursor: pointer;
  background-color: #95ae23;
}
